<div id="fb-root"></div>

<!-- Navbar -->

<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/{{sessionCity}}">
      <span>House</span>
    </a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="/{{sessionCity}}"><strong>Home</strong></a></li>
    <li data-match-route="/addHouse"><a ng-if="currentUser" href="/addHouse">Add <strong>House</strong></a></li>
    <li data-match-route="/addHouse"><a ng-if="!currentUser" href="/login">Add <strong>House</strong></a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/login">Login</a></li>
    <li data-match-route="/signup"><a href="/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.name"></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<!-- Navbar ends -->

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add house details</div>
    <div class="panel-body">

      <div id="owner">
        <span>Are you the owner of the house?<span>
        <button class="btn btn-primary" ng-click="enableForm()">Yes</button>
        <button class="btn btn-danger" ng-click="addOwner()">No</button>
      </div>


      <form class="form" method="post" ng-submit="addHouse()" name="addForm" enctype="multipart/form-data">

        <div class="form-group" ng-class="{ 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">

          <!-- City --><br />

          <label class="control-label">City</label>
          <select class="form-control" name="city" ng-model="city" disabled>
            <option value="Bangalore">Bangalore</option>
          </select>

          <!-- Neighborhood --><br />

          <label class="control-label">Area</label>
          <input class="form-control" list="neighborhood" name="neighborhood" ng-model="neighborhood" placeholder="Neighborhood" required autofocus disabled>
          <datalist id="neighborhood">
            <option ng-repeat="location in locations" value="{{location}}">{{location}}</option>
          </datalist>

          <!-- Address --><br />

          <label class="control-label">Address</label>
          <input class="form-control" name="address" ng-model="address" placeholder="Address" required disabled>

          <!-- Status --><br />

          <label class="control-label">Status</label>
          <select class="form-control" name="status" ng-model="status" disabled>
            <option value="up for grabs">Up for grabs</option>
            <option value="Booked">Booked</option>
          </select>

          <!-- Amenities --><br />

          <label class="control-label">Amenities</label>
          <ul class="genres">
            <li ng-repeat="amenity in amenities">
              <span ng-click="addAmenity(amenity)">{{amenity}}</span>
            </li>
          </ul>
          <label class="control-label" ng-if="selectedAmenities!=''">Available Amenities</label>
          <ul class="genres">
            <li ng-repeat="selectedAmenity in selectedAmenities">
              <span ng-click="removeAmenity(selectedAmenity)">{{selectedAmenity}}</span>
            </li>
          </ul>

          <!-- Pictures --><br />

          <label class="control-label">House pictures</label>
          <input class="form-control"
                  type="file"
                  ng-file-select="onFileSelect($files)" multiple disabled/>

        </div>
        <br />
        <button class="btn btn-primary form-control" type="submit" disabled>Add</button>
      </form>
    </div>
  </div>
</div>