<!-- Navbar -->

<div id="fb-root"></div>

<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/{{sessionCity}}">
      <span>House</span>
    </a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="/{{sessionCity}}"><strong>Home</strong></a></li>
    <li data-match-route="/addHouse"><a ng-if="currentUser" href="/addHouse">Add <strong>House</strong></a></li>
    <li data-match-route="/addHouse"><a ng-if="!currentUser" href="/login">Add <strong>House</strong></a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/login">Login</a></li>
    <li data-match-route="/signup"><a href="/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.name"></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<!-- Navbar ends -->

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add owner details</div>
    <div class="panel-body">

      <form class="form" method="post" ng-submit="addOwner()" name="addForm" enctype="multipart/form-data">

        <div class="form-group" ng-class="{ 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">

          <label class="control-label">Name</label>
          <input class="form-control" name="name" ng-model="name" placeholder="Name" required>

          <!-- Picture --><br />

          <label class="control-label">Picture</label>
          <input class="form-control"
                  type="file"
                  ng-file-select="onFileSelect($files)"/>

        </div>
        <br />
        <button class="btn btn-primary form-control" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>