<!-- Navbar -->

<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/{{sessionCity}}">
      <span>House</span>
    </a>
  </div>
  <div id="fb-root"></div>
  <ul class="nav navbar-nav">
    <li data-match-route="/$"><a href="/{{sessionCity}}"><strong>Home</strong></a></li>
    <li data-match-route="/addHouse"><a ng-if="currentUser" href="/addHouse">Add <strong>House</strong></a></li>
    <li data-match-route="/addHouse"><a ng-if="!currentUser" href="/login">Add <strong>House</strong></a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li data-match-route="/login"><a href="/login">Login</a></li>
    <li data-match-route="/signup"><a href="/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.name"></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<!-- Navbar ends -->

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
	
	<div style="height:80px;margin-top:20px;">
	  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10" style="float:left;">
            <h3 class="media-heading">
	      {{house.address.house}}, {{house.address.neighborhood}}
	    </h3>
          </div>
	  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="font-size:16px;height:80px;float:left;">
  	    Size: <b>{{house.details.size}} sq.ft.</b><br />
	    Type: <b>{{house.details.BHK}}</b>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="font-size:16px;height:80px;float:left;">
	    Rent: <b>&#8377 {{house.cost.rent}}</b><br />
	    Deposit: <b>&#8377 {{house.cost.secDeposit}}</b>
	  </div>
	</div>
	
	<div class="pull-left">
          <img class="media-object img-rounded" ng-src="https://s3-ap-southeast-1.amazonaws.com/house-image/{{selectedPicture}}">
	  <div style="display:inline-block;white-space:nowrap;width:610px;height:170px;overflow-x:scroll;overflow-y:hidden">
            <span ng-repeat="picture in house.pictures.link" style="width:200px;">
              <img class="img-rounded" ng-src="https://s3-ap-southeast-1.amazonaws.com/house-image/{{picture}}" ng-click="changePicture(picture)" style="width:200px;height:150px;cursor:pointer;">
            </span>
	  </div>
          <!--div class="text-center" ng-if="currentUser">
            <div ng-show="!isSubscribed()">
              <button ng-click="subscribe()" class="btn btn-block btn-success">
                <span class="ion-plus"></span> Subscribe
              </button>
            </div>
            <div ng-show="isSubscribed()">
              <button ng-click="unsubscribe()" class="btn btn-block btn-danger">
                <span class="ion-minus"></span> Unsubscribe
              </button>
            </div>
          </div>
          <div class="text-center" ng-show="!currentUser">
            <a class="btn btn-block btn-primary" href="#/login">Login to Subscribe</a>
          </div-->
        </div>

        <div class="media-body" style="padding:30px;padding-top:10px;font-size:16px;">
	  Furnishing: <b>{{house.extras.furnishing}}</b> 
          <h3 class="text-danger">
            <span class="ion-heart"></span> {{house.rating}}
          </h3>
	  <p>Tenants allowed: <b>{{house.tenantsType}}</b></p>
          <p>This house is <b>{{house.availability}}</b></p>
	  <p>Amenities: 
	    <b>
	      <span class="genres" ng-repeat="amenity in house.extras.amenities" style="cursor:auto;margin-right:10px;">
            {{amenity}}
              </span>
	    </b>
	  </p>
	  <p ng-if="house.extras.description">Description: <b>{{house.extras.description}}</b></p>
	  <p ng-if="house.details.bathrooms || house.details.constructionYear">
	    <span ng-if="house.details.bathrooms">
	      Bathrooms: 
		<b style="margin-right:40px;">
		  {{house.details.bathrooms}}
		</b>
	    </span>
	    <span ng-if="house.details.constructionYear">
	      Year of Construction: 
		<b>{{house.details.constructionYear}}</b>
	    </span>
	  </p>
	  <p ng-if="house.details.propType">Property Type: <b>{{house.details.propType}}</b></p>
          <p>Listed: <b>{{house.timeAdded | date:'dd-MM-yyyy'}}</b></p>
	  <h4 ng-if="house.contact.phone || house.contact.email">Contact details</h4>
	  <p ng-if="house.contact.phone">Phone: <b>{{house.contact.phone}}</b></p>
	  <p ng-if="house.contact.email">Email: <b><a ng-href="mailto:{{house.contact.email}}?subject:%20Interested%20in%20{{house.address.house}}">{{house.contact.email}}</a></b></p>
          <p>Owner: <b>{{owner.name}}</b></p>
	  <p><span style="cursor:pointer" ng-click="fb_share()">Share</span></p>
	</div>
      </div>
    </div>
  </div>

  <!--div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left">
          <div class="panel-heading">
            House reviews
          </div>
        </div>
        <div class="pull-right">
          <div class="panel-heading">
            Owner reviews
          </div>
        </div>
      </div>
    </div>
  </div-->

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="map-block" style="height:400px;width:800px;margin-left:auto;margin-right:auto;">
	<div id="google-maps-container" style="height:400px;width:800px;"></div>
      </div>
    </div>
  </div>

  <!--div class="alert alert-info" ng-show="nextEpisode">
    The next episode starts {{nextEpisode.firstAired | fromNow}}.
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="ion-film-marker"></span> Episodes
    </div>
    <div class="panel-body">
      <div class="episode" ng-repeat="episode in show.episodes">
        <h4>{{episode.episodeName}}
        <small>Season {{episode.season}}, Episode {{episode.episodeNumber}}</small>
        </h4>
        <p>
          <span class="ion-clock"></span>
          {{episode.firstAired | date: 'short'}}
        </p>
        <p>{{episode.overview}}</p>
      </div>
    </div>
  </div-->
</div>
